<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <p>Logged in as <strong><%= current_user.email %></strong>.</p>
  <p><%= link_to 'Edit registration', edit_user_registration_path %></p>
  <p><%= link_to 'Logout', destroy_user_session_path, method: :delete, data:{turbo_method: :delete} %></p>
  <%= raw RQRCode::QRCode.new(current_user.otp_provisioning_uri(current_user.email, issuer: "Devise-Two-Factor-Demo"),
                                   :svg,
                                   :level => :l,
                                   :unit => 2).as_svg %>
<% else %>
  <p>Not logged in.</p>
  <p><%= link_to 'Sign up', new_user_registration_path %></p>
  <p><%= link_to 'Login', new_user_session_path %></p>
<% end %>
